

*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 0.7rem;
}
.container{
    display: flex;
    justify-content: center;
}

.DynamicList{
    padding: 4rem;
    width: 500px;
    background: rgba(133, 108, 173, 0.24);
}